<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>Index</h1>
    {% if session_id is not none %}
    <p>Session ID: <code>{{ session_id }}</code></p>
    <p>User name: <em>{{ user["name"] }}</em></p>
    <p>User email: <code>{{ user["email"] }}</code></p>
    {% else %}
    <p>No session</p>
    {% endif %}
    <ul>
      {% for path in ["/login", "/whoami", "/logout"] %}
      <li><a href="{{ path }}"><code>{{ path }}</code></a></li>
      {% endfor %}
    </ul>
  </body>
</html>
