<!DOCTYPE html>
<html>
  <head>
      <title>main</title>
      <style>
        hr{
          width: 80%;
          border-top: 0;
          border-bottom: 1px gray solid;
        }

        #all{
          display: flex;
          flex-direction: row;
        }

        #left{
          border-right: 1px gray solid;
          min-width: 20em;
        }

        #right{
          margin-left: 1em;
        }

        #leftUserInfo{
          text-align: center;
        }
      </style>
  </head>
  <body>
    <div id="all">
      <div id="left">
        <div id="leftUserInfo">
          <form id="logout-form" action="/logout">
            <span>{{ name }}</span>
            <button type="submit">Выйти</button>
          </form>
        </div>
        <hr/>
        <label>
          <input type="checkbox" id="nosubdir-checkbox">
          Без подкатологов
        </label>
        <div id="leftButtons">
        </div>
      </div>
      <div id="right">
        <div id="topButtons">
          <button>Скачать</button>
          <button>Переместить</button>
          <button>Удалить</button>
          <button>Выделить все</button>
          <button>Обновить</button>
        </div>
        <hr/>
        <div id="main">
          <div id="directoryLine">
            {% for d in dirs %}
            <span class="directory">
              <a href="/main?id={{ d['id'] }}"><code>{{ d['name'] }}</code></a>
            </span>
            {% endfor %}
          </div>
          {% if files %}
          <table>
            <tr>
              <th><input type="checkbox" class="files"></th>
              <th>Имя</th>
              <th>Размер</th>
              <th>Дата изм.</th>
              <th>Владелец</th>
            </tr>
          {% for file in files %}
            {% if file['type']==2 %}
            <tr>
              <td><input type="checkbox" class="files"></td>
              <td><a href="/main?id={{ file['file_id'] }}"><code>{{ file['name'] }}</code></a></td>
              <td>{{ file['size'] }}</td>
              <td>{{ file['mtime'] }}</td>
              <td>{{ file['owner']['name'] }}</td>
            </tr>
            {% endif %}
            {% if file['type']!=2 %}
            <tr>
              <td><input type="checkbox" class="files"></td>
              <td>{{ file['name'] }}</td>
              <td>{{ file['size'] }}</td>
              <td>{{ file['mtime'] }}</td>
              <td>{{ file['owner']['name'] }}</td>
            </tr>
            {% endif %}
          {% endfor %}
          </table>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
