{% extends "base-twopane.html" %}
{% import "base-macros.html" as base %}
{% block style %}
    #leftNavLine{
    display: flex;
    flex-direction: row;
    }

    #leftNavLine > *{
    display: inline-block;
    }
{% endblock style %}
{% block leftpane %}
    <form id="retryForm" action="{{ path }}">
        <label>
            <input type="checkbox" id="nosubdir-checkbox"
                   name="nosubdir" {% if nosubdir %} checked {% endif %}>
            Без подкаталогов
            {% if sizequery %}<br><input type="number" id="fileSize" name="fileSize" value="{{ filesize }}" min="1"> Мб{% endif %}
        </label>
        <input type="hidden" name="id" value="{{ dirs[-1]['id'] }}">
        <div id="leftNavLine">
            <input type="submit" class="navButton" value="Назад"
                   formaction="/main?id={{ dirs[-1]['id'] }}">
            <input type="submit" class="navButton" value="Повторить">
        </div>
    </form>
{% endblock leftpane %}
{% block filetab %}
    {% for file in files %}
        {{ base.file_entry(file) }}
    {% endfor %}
{% endblock filetab %}
