{% extends "base-twopane.html" %}
{% import "base-macros.html" as base %}
{% block style %}
  #leftNavLine{
    display: flex;
    flex-direction: row;
  }

  #leftNavLine > *{
    display: inline-block;
  }
{% endblock style %}
{% block leftpane %}
  <form id="retryForm" action="{{ retrylink }}">
    <label>
      <input type="checkbox" id="nosubdir">
      Без подкаталогов
    </label>
    <div id="leftNavLine">
      <a class="navButton" href="{{ backlink }}">Назад</a>
      <input type="submit" class="navButton" value="Повторить">
    </div>
  </form>
{% endblock leftpane %}
{% block filetab %}
  {% for file in files %}
    {{ base.file_entry(file) }}
  {% endfor %}
{% endblock filetab %}
